<%- include ../_partials/header.ejs %>

<h2 id="list-name"><%= list.name %></h2>
<h3 id="list-summary"><%= list.summary %></h3>
<h5>Created by: <%= list.user.name  %></h5>
<h4>My Picks</h4>
    <% if(list.movies) %>
        <% list.movies.forEach(function(movie) { %>
        <div class="list-item">
            <a href="/movies/<%=movie.tmdb%>">
            <img src="https://image.tmdb.org/t/p/w150/<%= movie.poster_path%>">
            <h4><%= movie.title %></h4></a>
        </div>
            <p>Synopsis: <%= movie.overview %></p>
            <h6>Genre: <%= movie.genres %></h6>
            <h6>Release Date: <%= movie.release_date %></h6>
        <% }) %>

<%- include ../_partials/footer.ejs %>