<%- include ../_partials/header.ejs %>
<div id="edit-info">
    <h4 id="list-name"><span><%= list.name %></span></h4>
    <p id="list-summary"><span><%= list.summary %></span></p>
</div>
<h6><%= list.genres[0] %></h6>
<h6>Created by: <%= user.name  %></h6>
    <% if(list.movies) %>
        <% list.movies.forEach(function(movie) { %>
        <div class="list-item">
            <a href="/movies/<%= movie.tmdb %>">
            <img src="https://image.tmdb.org/t/p/w150/<%= movie.poster_path %>">            
            <h5><%= movie.title %></h5></a>
        </div>
            <p>Synopsis: <%= movie.overview %></p>
            <h6>Genre: <%= movie.genres %></h6>
            <h6>Release Date: <%= movie.release_date %></h6>
            <form action="/users/<%= user.id %>/lists/<%= list.id %>/<%= movie.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-lg btn-danger"> Remove Movie </button>
            </form>
        <% }) %>

  <form action="/users/<%= user.id %>/lists/<%= list.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-lg btn-danger"> Delete List </button>
  </form>

<script>
    $(document).ready(function() {
        $('#edit-info').on('click', 'h4 span', {field: "name"}, editItem);
        $('#edit-info').on('click', 'p span', {field: "summary"}, editItem);

        $('#edit-info').on('keypress blur focusout', '#name', {field: "name"}, function(e) {
            if (e.type === 'blur' || e.type === 'focusout' || e.keyCode === 13) updateItem(e);
        });
        $('#edit-info').on('keypress blur focusout', '#summary', {field: "summary"}, function(e) {
            if (e.type === 'blur' || e.type === 'focusout' || e.keyCode === 13) updateItem(e);
        });

        function editItem(e) {
            var $item = $(e.target);
            $item.html(`<input id="${e.data.field}" value="${$item.html()}">`);
        }

        function updateItem(e) {
            var $item = $(e.target.parentElement);
            $item.html(e.target.value);
            var newItem = e.target.value;
            var field = e.data.field;
            let xBody = { 
                userId: "<%= user.id %>"
            };
            xBody[field] = newItem;
            xBody = JSON.stringify(xBody);
            fetch('/users/<%= user.id %>>/lists/<%= list.id %>',
                {
                    method: "POST", 
                    body: xBody,
                    credentials: 'include',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                })
        }
    })
</script>

<%- include ../_partials/footer.ejs %>