<%- include ../_partials/header.ejs %>
<h2 id="list-name"><%= list.name %></h2>
<h3 id="list-summary"><%= list.summary %></h3>
<h5>Created by: <%= user.name  %></h5>
<h4>My Picks</h4>
    <% if(list.movies) %>
        <% list.movies.forEach(function(movie) { %>
        <div class="list-item">
            <a href="/movies/<%=movie.tmdb%>">
            <img src="https://image.tmdb.org/t/p/w150/<%= movie.poster_path%>">
            <h4><%= movie.title %></h4></a>
        </div>
            <p>Synopsis: <%= movie.overview %></p>
            <h6>Genre: <%= movie.genres %></h6>
            <h6>Release Date: <%= movie.release_date %></h6>
        <% }) %>

  <form action="/users/<%= user.id %>/lists/<%= list.id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-lg btn-danger"> Remove List </button>
  </form>

<script>
    $(document).ready(function() {
        $('#list-name').click(function(){
            $(this).replaceWith(`<input id="input-name" type="text" name="name" value="<%= list.name %>">`);
            $('#input-name').on("keypress blur", function(evt){
                if (evt.keyCode === 13 || evt.type === 'blur') updateListName();
            })
        })

        $('#list-summary').click(function(){
            $(this).replaceWith(`<textarea id="input-summary" class="materialize-textarea" type="text" name="name" value="<%= list.summary %>"><%= list.summary %></textarea>`);
            $('#input-summary').on("blur", function(evt){
                if (evt.keyCode === 13 || evt.type === 'blur') updateSummary();
            })
        })
    })

    function updateListName() {
        var newName = $('#input-name').val();
        let xBody = JSON.stringify({
            name: newName, 
            userId: "<%= user.id %>"
        })
        fetch('/users/<%= user.id %>>/lists/<%= list.id %>',
            {
                method: "POST", 
                body: xBody,
                credentials: 'include',
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            })
        $('#input-name').replaceWith(`<h2 id="list-name">${newName}</h2>`)
    }

    function updateSummary() {
        var newSummary = $('#input-summary').val();
        let xBody = JSON.stringify({
            summary: newSummary, 
            userId: "<%= user.id %>"
        })
        fetch('/users/<%= user.id %>>/lists/<%= list.id %>',
            {
                method: "POST", 
                body: xBody,
                credentials: 'include',
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            })
        $('#input-summary').replaceWith(`<h3 id="list-summary">${newSummary}</h3>`)
    }
</script>

<%- include ../_partials/footer.ejs %>