<%- include ../_partials/header.ejs %>

<br>
<div class="row">
    <div class="col s12 m3">
        <div id="edit-info">
            <h5 id="list-name"><i class="material-icons edit-icon">edit</i><span><%= list.name %></span>
                </h5>
            <p id="list-summary"><span><%= list.summary %></span></p>
        </div>
        <form action="/users/<%= user.id %>/lists/<%= list.id %>" method="POST">
            <select name="genres" onchange="this.form.submit()">
                <option value="General" <%= selected = list.genres[0] === "General" ? "selected" : "" %>>General</option>
                <option value="Action" <%= selected = list.genres[0] === "Action" ? "selected" : "" %>>Action</option>
                <option value="Animation" <%= selected = list.genres[0] === "Animation" ? "selected" : "" %>>Animation</option>
                <option value="Comedy" <%= selected = list.genres[0] === "Comedy" ? "selected" : "" %>>Comedy</option>
                <option value="Documentary" <%= selected = list.genres[0] === "Documentary" ? "selected" : "" %>>Documentary</option>
                <option value="Drama" <%= selected = list.genres[0] === "Drama" ? "selected" : "" %>>Drama</option>
                <option value="Family" <%= selected = list.genres[0] === "Family" ? "selected" : "" %>>Family</option>
                <option value="Fantasy" <%= selected = list.genres[0] === "Fantasy" ? "selected" : "" %>>Fantasy</option>
                <option value="History" <%= selected = list.genres[0] === "History" ? "selected" : "" %>>History</option>
                <option value="Horror" <%= selected = list.genres[0] === "Horror" ? "selected" : "" %>>Horror</option>
                <option value="Music" <%= selected = list.genres[0] === "Music" ? "selected" : "" %>>Music</option>
                <option value="Romance" <%= selected = list.genres[0] === "Romance" ? "selected" : "" %>>Romance</option>
                <option value="Sci-Fi" <%= selected = list.genres[0] === "Sci-Fi" ? "selected" : "" %>>Sci-Fi</option>
                <option value="Thriller" <%= selected = list.genres[0] === "Thriller" ? "selected" : "" %>>Thriller</option>
                <option value="War" <%= selected = list.genres[0] === "War" ? "selected" : "" %>>War</option>
            </select>
            <input type="hidden" name="userId" value="<%= user.id %>">
        </form>
                <h6>Created by: <%= user.name  %></h6>
            <form action="/users/<%= user.id %>/lists/<%= list.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-lg btn-danger red darken-2" onclick="return confirm('Are you sure you want to delete this item?');"> Delete List </button>
            </form>
    </div>
            <div class="col s12 m9">
                <% if(list.movies) { %>
                    <% list.movies.forEach(function(movie, i) { %>
                        <% if (i % 4 === 0) { %>
                        <div class="row">
                        <% } %>
                        <div class="col s3">
                            <div class="card">
                                <div class="card-image">
                                    <a href="/movies/<%= movie.tmdb %>">
                                        <img src="https://image.tmdb.org/t/p/w150/<%= movie.poster_path %>">            
                                        <h6 class="truncate"><%= movie.title %></h6>
                                    </a>
                                    <h6>Genre:</h6>
                                    <% var movieGenres = movie.genres.join(', ') %>
                                    <h6 class="truncate"><%= movieGenres %></h6>
                                    <h6>Release Date: <%= movie.release_date %></h6>
                                    <form action="/users/<%= user.id %>/lists/<%= list.id %>/<%= movie.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-lg btn-danger red darken-2"onclick="return confirm('Remove Movie?');"> Remove Movie </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% if (i % 4 === 3) { %>
                        </div>
                        <% } %>
                    <% }) %>
                <% } %>
              
            </div>
</div>
<script>
    $(document).ready(function() {
        $('#edit-info').on('click', 'h5 span', {field: "name"}, editItem);
        $('#edit-info').on('click', 'p span', {field: "summary"}, editItem);

        $('#edit-info').on('keypress blur focusout', '#name', {field: "name"}, function(e) {
            if (e.type === 'blur' || e.type === 'focusout' || e.keyCode === 13) updateItem(e);
        });
        $('#edit-info').on('keypress blur focusout', '#summary', {field: "summary"}, function(e) {
            if (e.type === 'blur' || e.type === 'focusout' || e.keyCode === 13) updateItem(e);
        });

        function editItem(e) {
            var $item = $(e.target);
            $item.html(`<input id="${e.data.field}" value="${$item.html()}">`);
        }

        function updateItem(e) {
            var $item = $(e.target.parentElement);
            $item.html(e.target.value);
            var newItem = e.target.value;
            var field = e.data.field;
            let xBody = { 
                userId: "<%= user.id %>"
            };
            xBody[field] = newItem;
            xBody = JSON.stringify(xBody);
            fetch('/users/<%= user.id %>>/lists/<%= list.id %>',
                {
                    method: "POST", 
                    body: xBody,
                    credentials: 'include',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                })
        }
    })
</script>

<%- include ../_partials/footer.ejs %>