<%- include ../_partials/header.ejs %>

<h1><%= movieData.title %></h1>

  <img src="https://image.tmdb.org/t/p/w150/<%= movieData.poster_path%>">
  <h6>Overview:</h6>
  <p><%= movieData.release_date %></p>
  <% movieData.genres.forEach(function(genre){ %>
    <p><%= genre.name %></p>
  <% }) %>
  <p><%= movieData.overview %></p>
  <% for(var i = 0; i < 5; i++) { %>
    <p><%= movieData.credits.cast[i].name %></p>
  <% } %>

  <p><%= movieData.vote_average %></p>
  

<%- include ../_partials/footer.ejs %>