<%- include ../_partials/header.ejs %>

<h1><%= movieData.title %></h1>
<img src="https://image.tmdb.org/t/p/w150/<%= movieData.poster_path %>">
  <form action="/users/<%= user._id %>/lists/addtolist" method="POST">
    <select name="list">
      <% user.lists.forEach(function(list){ %>
        <option value="<%= list._id %>"><%= list.name %></option>
      <% }) %>
    </select>
    <input type="hidden" name="movieId" value="<%= movieData.id %>">
    <button type="submit">Add to List</button>
  </form>

    
<h6>Release Date:</h6>
  <p><%= movieData.release_date %></p>
<h6>Genres:</h6>
  <% movieData.genres.forEach(function(genre){ %>
  <p><%= genre.name %></p>
<% }) %>
<h6>Synopsis</h6>
<p><%= movieData.overview %></p>
<h6>Cast: </h6>
<% if (movieData.credits.cast.length < 5){ %>
  <% var numCast = movieData.credits.cast.length %>
<% } else { %>
  <% var numCast = 5 %>
<% } %>
<% for(var i = 0; i < numCast; i++) { %>
  <p><%= movieData.credits.cast[i].name %></p>
<% } %>

<p>Average Score: <%= movieData.vote_average %></p>
  

<%- include ../_partials/footer.ejs %>