<%- include ../_partials/header.ejs %>

<div class="row">
  <div class="col offset-s2 sidenav">
    <!-- side nav -->
    <img src="https://image.tmdb.org/t/p/w150/<%= movieData.poster_path %>">
    <% if (user) { %>
    <form action="/users/<%= user._id %>/lists/addtolist" method="POST">
      <select name="list">
        <% user.lists.forEach(function(list){ %>
          <option value="<%= list._id %>"><%= list.name %></option>
        <% }) %>
      </select>
      <input type="hidden" name="movieId" value="<%= movieData.id %>">
      <a class="waves-effect waves-light btn" type="submit">Add to List</a>
      <!-- <button type="submit">Add to List</button> -->
    </form>
    <% } %>
  </div>

  <div class="col s6">
    <!-- content panel -->
    <h5><%= movieData.title %></h5>
    <h6>Release Date:</h6>
    <p><%= movieData.release_date %></p>
    <h6>Genres:</h6>
    <p>
      <% movieData.genres.forEach(function(genre, i) { %>
      <%= genre.name %>
      <% if (i !== movieData.genres.length - 1) {%>, 
      <% } %>
      <% }) %>
    </p>
    <h6>Synopsis:</h6>
    <p><%= movieData.overview %></p>
    <h6>Cast:</h6>
    <p>
    <% if (movieData.credits.cast.length < 5){ %>
      <% var numCast = movieData.credits.cast.length %>
    <% } else { %>
      <% var numCast = 5 %>
    <% } %>
    <p>
    <% for(var i = 0; i < numCast; i++) { %>
      <%= movieData.credits.cast[i].name %>
      <% if (i !== numCast - 1) { %>,
      <% } %>
    <% } %>
    </p>
  <p>Average Score: <%= movieData.vote_average %></p>

  </div>
</div>

<%- include ../_partials/footer.ejs %>