<%- include ../_partials/header.ejs %>

<h4><%= user.name %></h4>

<h5>My Featured Movie Lists</h5>
  <% if (user.lists.length) { %>
    <% user.lists.forEach(list => { %>
      <div class="list-item">
       <a href="/users/<%= user._id %>/lists/<%= list.id %>"><label><h4><%= list.name %><h4></label></a> 
         <form action="/users/<%= user.id %>/lists/<%= list.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-lg btn-danger"> Remove List </button>
         </form>
      </div>
      <% }) %>
        <% } else { %>
      <h6>No lists created</h6>
      <% } %>
      <p>Create New Movie List</p>
        <a href="/users/<%= user._id %>/lists/new" class="btn-floating btn-large waves-effect waves-light red"><class="material-icons">+</a>
    
<%- include ../_partials/footer.ejs %>